<div class="row">
  <div class="col-md-4">
    {{#link-to 'todos.new' class='btn btn-success'}}
      Create Todo
    {{/link-to}}

    <hr>

    {{outlet}}
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            {{input type="text" class="form-control" value=filter id="search" placeholder="Search Todos..."}}
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
    <hr><br>
    {{#if filter}}
      {{#each filteredTodos as |todo|}}
        {{#todo-list title=todo.title date=todo.date id=todo.id}}
          {{todo.body}}
        {{/todo-list}}
      {{/each}}
    {{else}}
      {{#each sortedTodos as |todo|}}
        {{#todo-list title=todo.title date=todo.date id=todo.id}}
          {{todo.body}}
        {{/todo-list}}
      {{/each}}
    {{/if}}
  </div>
</div>

